.profile
{
	min-width: 300px;

	.title
	{
		font-size: 1rem;
		font-weight: 400;

		span
		{
			font-size: 1rem;
			font-weight: 600;
		}
	}

	.subtitle
	{
		font-size: 0.75rem;
		font-weight: 400;
		color: rgb(105, 117, 134);
	}

	.head
	{
		margin-bottom: 16px;
	}
}
