.menu
{
	height: calc(100vh - 80px);
	padding-inline: 16px;
	transition: all 0.2s;
	transform-origin: left;
	overflow: hidden;

	&.collapsed
	{
		padding-inline: 0;
	}

	&:hover
	{
		overflow-y: auto;
		overflow-x: hidden;
		scrollbar-width: thin;
	}
}
