$xs-size: 375px;
$sm-size: 480px;
$md-size: 768px;
$lg-size: 1024px;
$xl-size: 1200px;
$xxl-size: 1400px;

@mixin media($width)
{
	@media screen and (max-width: $width)
	{
		@content;
	}
}

@mixin xs()
{
	@media screen and (max-width: $xs-size)
	{
		@content;
	}
}

@mixin sm()
{
	@media screen and (max-width: $sm-size)
	{
		@content;
	}
}

@mixin md()
{
	@media screen and (max-width: $md-size)
	{
		@content;
	}
}

@mixin lg()
{
	@media screen and (max-width: $lg-size)
	{
		@content;
	}
}

@mixin xl()
{
	@media screen and (max-width: $xl-size)
	{
		@content;
	}
}

@mixin xxl()
{
	@media screen and (max-width: $xxl-size)
	{
		@content;
	}
}
